<p style="color: green"><%= notice %></p>

<h1>Turistas</h1>

<div id="turistas">
  <% @turistas.each do |turista| %>
    <%= render turista %>
    <p>
      <%= link_to "Show this turistas", turista %>
    </p>
  <% end %>
</div>

<%= link_to "New turistas", new_turista_path %>
