.msg-form {
  position: fixed;
  bottom: 0;
  width: 90%;
  padding: 15px;
}

form textarea {
  height: 41px;
  width: calc(100%-15px);
  resize: none;
}

.data-msg {
  font-size: x-small;
}

.btn-form {
  background-color: blue;
  color: white;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  padding: 15px;
  position: absolute;
}

.btn-register {
  background-color: blue;
  color: white;
  border-radius: 50%;
  padding: 15px;
  position: absolute;
  left: 250px;
}

.col-md-10 {
  height: 100vh;
  overflow: scroll;
}

.msg-content {
  width: 80%;
  margin-right: 5px;
}

.msgs-container {
  display: flex;
  .my-message {
    float: right;
  }
}

.message-box {
  width: fit-content;
  max-width: 40%;
  padding: 5px;
  border-radius: 10px;
  margin-bottom: 10px;
  background-color: #555555;
  padding: 10px;
}
