:root{
  /* FONT */
  --font: 'Poppins', sans-serif;

  /* COLORS */
  --color: orange;
  --bg-color: #f4f4f4;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ----------- SLIDER ------------ */
.swiper{
  width: 100%;
}

.swiper-wrapper{
  width: 100%;
  height: 35em;
  display: flex;
  align-items: center;
}

.card{
  width: 20em;
  height: 90%;
  background-color: #fff;
  border-radius: 2em;
  box-shadow: 0 0 2em rgba(0, 0, 0, .2);
  padding: 2em 1em;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0 2em;
}

.swiper-slide:not(.swiper-slide-active){
  filter: blur(1px);
}

.card__image{
  width: 10em;
  height: 10em;
  border-radius: 50%;
  border: 5px solid var(--color);
  padding: 3px;
  margin-bottom: 2em;
}

.card__image img{
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.card__content{
  display: flex;
  align-items: center;
  flex-direction: column;
}

.card__title{
  font-size: 1.5rem;
  font-weight: 500;
  position: relative;
  top: .2em;
}

.card__name{
  color: var(--color);
}

.card__text{
  text-align: center;
  font-size: 1.1rem;
  margin: 1em 0;
}

.card__btn{
  background-color: var(--color);
  color: #fff;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 600;
  border: none;
  padding: .5em;
  border-radius: .5em;
  margin-top: .5em;
  cursor: pointer;
}

.search_container {
  display: grid;
  padding: 10px 25%;
  align-items: center;
  float: center;
}

.search-bar_center {
  width: 100%;
  height: 45px;
  background: #1414141a;
  border: 2px solid #ffffffbd;
  border-radius: 6px;
  display: flex;
  align-items: center;
}

.search-bar_center input {
  width: 100%;
  background: transparent;
  border: none;
  outline: none;
  font-size: 16px;
  color: #000000;
  padding-left: 10px;
}

.search-bar_center input::placeholder {
  color: #000000;
}

.search-bar_center button {
  width: 60px;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.search-bar_center button i {
  font-size: 22px;
  color: black;
}

@media screen and (max-height: 844px) {
  .card{
    width: 20em;
    height: 70%;
    background-color: #fff;
    border-radius: 2em;
    box-shadow: 0 0 2em rgba(0, 0, 0, .2);
    padding: 2em 1em;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0 2em;
    top: 60px;
  }  

  .search_container {
    position: absolute;
    width: 100%;
    padding: 0 0;
    top: 9.5%;
    align-items: center;
    float: center;
  }

  .search_container {
    position: absolute;
    width: 100%;
    padding: 0 0;
    top: 9.5%;
    align-items: center;
    float: center;
    margin-left: 10px;
  }

  .search-bar_center {
    width: 95%;
    height: 45px;
    background: #0a586e1a;
    border: 2px solid #ffffffbd;
    border-radius: 6px;
    display: flex;
    align-items: center;
  }

  .search-bar_center input {
    width: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 16px;
    color: #1918188f;
    padding-left: 10px;
  }

  .search-bar_center input::placeholder {
    color: #000000;
  }

  .search-bar_center button {
    width: 60px;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  .search-bar_center button i {
    font-size: 22px;
    color: black;
  }

  .delete{
    display: none;
  }
}