<%if user.online%>
    <h3> <%= user.name %> <span class='activity-status-<%=user.id%> online'></span> </h3>
<%else%>
    <h3> <%= user.name %> <span class='activity-status-<%=user.id%> offline'></span> </h3>
<%end%>



