form {
    display: none;
    font-size: 1.8em;
    position: relative;
    left: 25%;
  }
  
  .gre {
    color: green;
    text-align: center;
    font-size: 20px;
    padding: 10px;
  }
  
  .coll {
    display: grid;
    grid-template-columns: 50% 25%;
  }
  
  .center {
    position: sticky;
    padding: 0 50%;
  }
  
  .navheader_general {
    background-color: rgba(0, 0, 0, 0.562);
  }
  
  h1 {
    text-align: center;
  }
  
  input {
    font-size: 1.5em;
  }
  
  .container {
    padding: 1% 3%;
  }
  
  .block {
    position: relative;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 0.35fr 1fr 1fr 1fr;
    padding: 2.5%;
    border-radius: 300px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 15%);
    transition: all 0.3s;
  }
  
  .block:hover {
    background-color: rgba(238, 158, 9, 0.578);
    transition: all 0.3s;
  }
  
  .data {
    position: relative;
    padding: 8%;
    align-items: center;
    font-size: x-large;
  }
  
  .data > h4 {
    font-size: xx-large;
  }
  
  .block > img {
    width: 100%;
    height: 100%;
    border-radius: 600px;
  }
  
  .container_form {
    padding: 2% 3%;
  }
  
  @media screen and (min-height: 700px) and (min-width: 1200px) and (max-height: 800px) and (max-width: 1300px) {
    .block {
      grid-template-rows: 100px;
    }
    .data {
      font-size: large;
      padding: 5%;
    }
    .data > h4 {
      font-size: x-large;
    }
    .center {
      left: 43%;
    }
    .block > img {
      width: 100px;
      height: 100px;
    }
  }
  
  @media screen and (min-height: 1000px) and (max-width: 900px) {
    .block > img {
      width: 120px;
      height: 120px;
    }
  }
  
  @media screen and (max-height: 850px) and (min-width: 900px) {
    .coll {
      grid-template-columns: 50%;
    }
    .center {
      padding: 10px 10px;
    }
  }
  
  /*MOBILE USERS*/
  @media screen and (max-width: 769px) {
    .block > img {
      width: 60px;
      height: 60px;
    }
    .gre {
      position: absolute;
      top: 34%;
      left: 30%;
    }
    .container_full {
      position: absolute;
      width: 95%;
      top: 10%;
    }
    .coll {
      grid-template-columns: 55% 45%;
    }
    .block {
      grid-template-rows: 60px;
    }
    .container {
      padding: 1% 3%;
    }
    .data {
      font-size: medium;
      padding: 0 10px;
      line-height: 1px;
    }
    .data > h4 {
      font-size: medium;
    }
    .view_area {
      position: absolute !important;
      top: 20% !important;
    }
    .center {
      position: sticky;
      left: 3%;
      right: 3%;
      padding: 0 0;
    }
    form {
      position: absolute;
      top: 35%;
      left: 2%;
      font-size: 1em;
      width: 95%;
      padding: 1%;
    }
    .container_form {
      padding: 0 0;
    }
    /*IPAD MINI*/
    @media screen and (min-height: 930px) {
      .container_full {
        position: absolute;
        width: 100%;
        top: 30%;
      }
      .container {
        padding: 2% 2%;
      }
      .coll {
        display: grid;
        grid-template-columns: 1.2fr 0.5fr;
      }
      .center {
        top: 45%;
        left: 10%;
      }
      form {
        display: none;
        font-size: 1.8em;
        position: absolute;
        top: 45%;
        padding: 10%;
        left: 7%;
        width: 150%;
      }
      .view_area {
        position: absolute !important;
        top: 45% !important;
      }
      .data {
        font-size: medium;
        padding: 0 10px;
        line-height: 15px;
      }
    }
  }
  
  /*TABLET USERS*/
  @media screen and (max-width: 850px) and (min-width: 769px) {
    .block {
      grid-template-columns: 0.45fr 1fr 1fr 1fr;
    }
    .coll {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
    .data {
      font-size: medium;
    }
    .data > h4 {
      font-size: large;
    }
    .center {
      left: 0%;
      right: 20%;
    }
    form {
      font-size: 1.5em;
      width: 130%;
      left: 18%;
    }
  }
  
  .center_utente{
    display: flex;
    justify-content: center;
    transform: translateX(460px);
  }

